<style>
p.outset {
  border-style: outset;
  background-color: white;
  }

h1 { text-align: center; }

p.body { text-align: center; }

div.margins {
  margin-top: 200px;
}
</style>
<div class="margins">
  <h1> <p class="outset"> Welcome To TripWeather</p> </h1> 
  <p class="body"> Please Log In to Continue  </p>

</div>